<div class="section-container row m-0 p-5">
  <div class="about p-5 d-flex flex-column gap-2 col-7">
    <div class="hello-chip">Hello there, I'm</div>
    <div class="heading">Meemansha Gaur</div>
    <div class="para">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id luctus
      metus. Duis lacus arcu, eleifend ac ultricies vehicula, ullamcorper sit
      amet lectus. Etiam dictum libero dolor, vel ornare neque facilisis a.
      Etiam vitae eros eu nunc malesuada dignissim in id magna. Fusce sapien
      arcu, sagittis nec tincidunt ut,
    </div>
  </div>

  <img class="col-4" src="assets/profile.jpg" alt="" />
</div>
