<div class="banner-container">
  <div class="profile-text">
    <div class="sub-text">Psychologist</div>
    <div class="main-heading">Meemansha</div>
    <div class="chip-container d-flex flex-wrap align-items-center g-2">
      <div class="chip">
        <img class="pointer" src="assets/pointer.svg" alt="" />
        <img class="pointer-primary" src="assets/pointer-primary.svg" alt="" />
        <p>Post Graduate In Psychologist</p>
      </div>
      <div class="chip">
        <img class="pointer-primary" src="assets/pointer-primary.svg" alt="" />
        <img class="pointer" src="assets/pointer.svg" alt="" />
        <p>800+ Success Sessions</p>
      </div>
      <div class="chip">
        <img class="pointer-primary" src="assets/pointer-primary.svg" alt="" />
        <img class="pointer" src="assets/pointer.svg" alt="" />
        <p>Top 0.1% On Topmates</p>
      </div>
      <div class="chip">
        <img class="pointer-primary" src="assets/pointer-primary.svg" alt="" />
        <img class="pointer" src="assets/pointer.svg" alt="" />
        <p>People's Choice Award</p>
      </div>
      <div class="chip">
        <img class="pointer-primary" src="assets/pointer-primary.svg" alt="" />
        <img class="pointer" src="assets/pointer.svg" alt="" />
        <p>People's Choice Award</p>
      </div>
      <div class="chip">
        <img class="pointer-primary" src="assets/pointer-primary.svg" alt="" />
        <img class="pointer" src="assets/pointer.svg" alt="" />
        <p>100+ Happy Clients So Far And Counting</p>
      </div>
    </div>
  </div>

  <img class="lady-img" src="assets/ladyFull.svg" alt="" />
</div>
