<div class="marquee-wrapper">
  <div class="marquee-content">
    <span class="marquee-text"
      >"Your mental health is a priority. Your happiness is an essential. Your
      self-care is a necessity." "There is hope, even when your brain tells you
      there isn't."</span
    >
    <span class="marquee-text">
      "Your mental health is a priority. Your happiness is an essential. Your
      self-care is a necessity." "There is hope, even when your brain tells you
      there isn't."
    </span>
  </div>
</div>
