$bg-primary: #f8efe6;
$primary: #e47253;
$primary-dark: #dd6200;
$secondary: #5b433c;
$secondary-dark: #3a3a3a;

// $bg-primary: #E2F4F4;
// $primary: #FFC0C0;
// $secondary: #52C9C9;
// $secondary-dark: #36B0B0;
